html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding-top: 50px;
  background-color: #30404d;
}

.dashboard-container {
  flex: 1 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  flex: 0 0 auto;
}

.no-select {
  user-select: none;
}

.non-decorated-link, .non-decorated-link:hover {
  /* temporary approach */
  color: inherit !important;
  text-decoration: none;
}