{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./server"
        ],
        "alias": {
        }
      }
    ],
    "transform-object-rest-spread"
  ]
}