.navbar-wrapper {
  display: flex;
  float: 0 0 auto;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.logo {
  padding-left: 10px;
  font-weight: bold;
  cursor: pointer;
}

.header-spinner {
  padding-right: 10px; 
}